html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: #D1D5DB;
}
.img{
    float: right;
}
.img2{
    float: left;
}
h1{
    padding: 3px;
    background-color: ;
    border-style: ;
    border-color: ;
    border-width: 3px;
    color: white;
    border-radius: 2px;
    width:1000px;
    text-align: center;
}
#lgpd {
    padding: 47px;
    text-align: center;


}
h2{
    padding: 5px;
    background-color:;
    border-style: ;
    border-color: ;
    border-width: 3px;
    color: white;
}
h3{
    padding: 5px;
    background-color: ;
    border-style: ;
    border-color: ;
    border-width: 3px;
    color: white;

}
p{
    padding: 20px;
    background-color: ;
    border-style: ;
    border-width: 4px;
    color:  white;
}
th{
    background-color:lightblue ;
    color: white;
}

tr, td{
    padding: 8px;
    background-color: ;

}
