*{
    margin: 0;
    padding: 0;
}
html{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image:linear-gradient(to bottom, #c07bbf, #EFB3EE);

}
/* ================= HEADER ================= */

header {
    padding: 2px;
    background-color:#eeb3ed;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid #cc88cb 2px;
}

#imagem_titulo{
    position:inherit;    
    border: 1px none solid;
    width: 250px;    
    height: 70px;
    margin: 0;
}
#imagem_logo{
    position:inherit;    
    border: 1px none solid;
    width: 100px;
    height: 100px;
}
#conjunto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 70%;
}
/* NAV */

nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    float: right;
    gap: 2px;
}

a{
    padding: 5px;
    background-color: white;
    text-decoration: none;
}

main{
    margin: 0 0 0 0;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bloco_login{
    border: 2px black solid;

    height: 500px;
    width: 500px;
    background-color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    border-radius: 3%;
    
}
#info_email{
    padding: 30px;
    margin: 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    
}
#info_senha{
    padding: 20px;
    margin: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}
input{
    padding-left: 10px;
    width: 100%;
    height: 30px;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
}
#divBotao{
    display: flex;
    justify-content: center;
}
#button_login{
    margin: 0;
    width: 50%;
    padding: 10px;
    border: #c07bbf;
    align-items: center;
    justify-content: center;
    background-color: #CFFFE5;
    color: rgb(0, 0, 0);
    border-radius: 60px;
    
    
}
footer {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #eeb3ed;
    border-top:  #cc88cb 2px solid;
}