*{
    margin: 0;
    padding: 0;
}
html{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image:linear-gradient(to bottom, #c07bbf, #EFB3EE);

}
header{
    padding: 2px;
    background-color: #EFB3EE;
    margin: 0;
    border-bottom: #6d366baa inset 5px;
    border-radius: 40px;
    background-image:linear-gradient(to bottom, #c07bbf, #EFB3EE);
    box-shadow: 5px 5px 5px rgba(251, 0, 251, 0.486);
}
#imagem_titulo{
    display: flex;
    position:inherit;     
    border: 1px none solid;
    width: 300px;    
    margin: 0;
}
#imagem_logo{
    display: flex;
    position:inherit;     
    border: 1px none solid;
    width: 100px;
    height: 100px;
}
#conjunto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
main{
    margin: 0 0 0 0;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bloco_login{
    border: 2px black solid;
    box-shadow: 5px 5px 5px 5px rgba(251, 0, 251, 0.486);
    height: 500px;
    width: 500px;
    background-color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    border-radius: 3%;
    
}
#info_email{
    padding: 30px;
    margin: 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    
}
#info_senha{
    padding: 20px;
    margin: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}
input{
    padding-left: 10px;
    width: 100%;
    height: 30px;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
}
#divBotao{
    display: flex;
    justify-content: center;
}
#button_login{
    margin: 0;
    width: 50%;
    padding: 10px;
    border: 2px solid red;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    border-radius: 60px;
    
}
footer{
    margin: 0%;
    border: 2px red solid;
    width: auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}