* {
    margin: 0;
    padding: 0;
}

body {
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;

}

header {
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    background-image: linear-gradient(to top, #eec8c3, #eec8c38a);
    justify-content: space-evenly;
}

#imagem_titulo {
    display: flex;
    width: 40%;
    position: inherit;
    margin: 0.4%;
    padding: 15px;
    border-radius: 30px;
    border: 1px none solid;
    width: 150px;
}

#imagem_logo {
    display: flex;
    width: 40%;
    position: inherit;
    margin: 0.4%;
    padding: 15px;
    border-radius: 30px;
    border: 1px none solid;
}

#conjunto {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 325px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.navegacao {
    color: #C19D94;
    font-size: 25px;
}

#barra_nav {
    display: flex;
    justify-content: center;
    font-size: 30;
}

#produtos {
    display: flexbox;
    margin: 0%;
    border: 2px red solid;
    width: 80%;
    justify-self: flex-end;

}
main{
    padding: 15px;
    margin: 0;
    background-color: #eec8c3;
}

div {
    display: grid;
    padding: 15px;
    margin: 1%;

}

h3 {
    display: flex;
    padding: 3px;
    margin: 0%;
}

footer {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: linear-gradient(to bottom, #eec8c3, white);
    justify-content: space-evenly;
}