*{
    margin: 0;
    padding: 0;
}

header{
    margin-bottom: 15px;
}

#header_h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

#avaliacao_perfil{
    font-size: 30px;
    background-color: rgb(214, 214, 214);
}

#características{
    justify-content: space-evenly;
}

#avaliacao{
    justify-content: space-around;
}

.pontuacao{
    color: red;
}

#caracteristicas_pontuacao{
    display: flex;
    justify-content: space-evenly;
}

.titulos{
    width: 86%;
}