

.imagem{
    display: block;
    width: 50%;
    height: auto;
}

.texto{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
}

.preco{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    color: seagreen;
    font-size: 1.4em;
    font-weight: bold;
}

.botao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3 ease;
    margin-top: auto;
}

body{
    padding: 100px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.botao :hover{
    background-color: rgb(255, 178, 61);
}

.cartao-produto{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.3s ease;
}

.cartao-produto:hover{
    transform: translateY(-6px);
}

button{
    background-color: rgb(255, 169, 9);
}