.grid-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    display: inline-block;
    margin: 10px;
}

.inline-imagem{
    display: inline-block;
    
}

.inline-imagem :hover{
    transform: translateY(-5px);
    opacity: 0.5;
    top: 20;
}
